.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: solid;
    border-bottom-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__logo {
    display: block;
    text-align: center;
    color: #be9846f5;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}